@model int 




<td><a  asp-route-id="@Model" asp-action="Details" class="btn btn-warning">Details</a></td>
<td><a  asp-route-id="@Model" asp-action="Update" class="btn btn-success">Update</a></td>
<td><a  asp-route-id="@Model" asp-action="Delete" class="btn btn-danger">Delete</a></td>