@model EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>

<div>

    <partial name="PartialViews/DetailsDeleteEmployeePartialView" model="Model" />



    <a asp-action="Index" class="btn btn-primary">Back To List</a>
</div>





