
@model UserViewModel

<div>
    <label class="col-form-label" asp-for=@Model.Id>Id</label>
    <input class="form-control" type="type" asp-for=@Model.Id readonly />

</div>

<div>
    <label class="col-form-label" asp-for=@Model.Username>UserName</label>
    <input class="form-control" type="type" asp-for=@Model.Username readonly />

</div>
<div>
    <label class="col-form-label" asp-for=@Model.Email>Email</label>
    <input class="form-control" type="type" asp-for=@Model.Email readonly />

</div>

<div>
    <label class="col-form-label" asp-for=@Model.FirstName>FirstName</label>
    <input class="form-control" type="type" asp-for=@Model.FirstName readonly />

</div>

<div>
    <label class="col-form-label" asp-for=@Model.LastName>LastName</label>
    <input class="form-control" type="type" asp-for=@Model.LastName readonly />
</div>


