@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!-- main -->
<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
		<div class="agileits-top">
			<div asp-validation-summary="All">
			</div>
			<form asp-action="ResetPassword" method="post">
				<input class="text" type="password" asp-for="Password" placeholder="Password" required="">
				<input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
				<br />
				<input type="submit" value="Reset Password">
			</form>
		</div>
	</div>

</div>
<!-- //main -->

