@model UserViewModel
@{
}

<h1>User Update</h1>

<br />
<br />

<form asp-action="Update" class="form-group" enctype="multipart/form-data">
  
    <partial name="PartialViews/EditUserPartialView" model="Model" />



    </form>


@section Validation {
    <script src="~/lib//jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


