
@model RoleViewModel

<div>
    <label class="col-form-label" asp-for=@Model.Id>Id</label>
    <input class="form-control" type="type" asp-for=@Model.Id readonly />

</div>
<div>
    <label class="col-form-label" asp-for=@Model.RoleName>RoleName</label>
    <input class="form-control" type="type" asp-for=@Model.RoleName readonly />
</div>
